body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  /* 16px = 100% = 1em */
  /* 100% is 16px -> 90px is 562.5% */
  /* This makes the font size dynamic if the user has a different dafault font size in their browser */
  /* em or % will add on top of its parent's font size -> unlike px where it will be fixed -> so we can use rem (root em) */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  /* line-height: 2; No units specified, originally is 1 -> set to 2 */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem; /* 16px = 1rem, 40px/16px = 2.5rem */
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none; /* from underline to none to remove the underline for each link */
}

a:hover { /* pseudo classes */
  color: #EAF6F6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #9dcfcf 6px; /* #EAF6F6 */
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.hacker-img {
  width: 300px;
}

/* .bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
} */

.top-code {
  width: 150px;
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-code {
  width: 150px;
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  /* height: 200px;
  width: 200px;
  background-color: red; */
  margin: 100px 0;
}

.bottom-container {
  /* height: 200px;
  width: 200px; */
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-img-left {
  width: 21%;
  float: left; /* makes the image float on the left of the div */
  /* To only have h3 be on its right, we can set clear: left; for p tag so that nothing can be on its left */
  margin-right: 30px;
}

.skill-img-right {
  width: 21%;
  float: right;
  margin-left: 30px;
}

.profile-img {
  width:250px;
}

.skill-row {
  width: 55%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.intro {
  width: 35%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.keyword {
  color: #5F6F94;
}

.footer-link {
  color: #EAF6F6; 
}

.footer-link:hover {
  color: #0F3D3E;
}
